
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 7.5in;
    margin: auto;
    background: #FFFFFF;
    padding: 0.5in;
}

/* Title of the resume */
h1 {
    font-size: 0.66in;
    color: #757575;
    text-align:center;
    margin-bottom:0.25in;
}
h1:hover {
    background-color: #757575;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}
h2 {
    color: #4D7B91;
}
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 0.10in;
    background-color: #7FCDF2;
}
h2:hover {
    background-color: #6BADCC;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}
dt {
    float: left;
    clear: left;
    width: 17%;
}
dd {
    margin-left: 17%;
    text-align: justify;
    padding-bottom: 1em;
}
dd table {
    width: 100%;
}
p {
    margin-top:0;
    margin-bottom:7px;
}
blockquote {
    text-align: center
}
a {
    text-decoration: none;
    color: #4D7B91;
}
a:hover, a:active {
    background-color: #6BADCC;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
hr {
    color: #A6A6A6;
}